.todoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    gap: 20px;
}

.todoList_add {
    display: flex;
    gap: 10px;
}

.todoList_add input {
    width: 400px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 10px;
}

.todoList_add button {
    width: 100px;
    background-color: rgb(88, 185, 237);
    border: none;
    border-radius: 20px;
}

.todoList_add button:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    color: white;
    transition: 0.4s;
}

/* ------todohead */
.todo_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(88, 185, 237);
    width: 520px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}

.active {
    text-decoration: line-through;
}

#jobList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.li_left,
.li_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.li_right button {
    background-color: transparent;
    color: rgb(234, 84, 38);
    border: none;
    cursor: pointer;
}

.li_right button:hover {
    cursor: pointer;
    color: white;
}

/*ul li todolist */
#noJob {
    height: 200px;
    width: 500px;
}

.numberOfJob {
    width: 520px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #ddd;
    display: none;
}

#popUpBody {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#popUpForEdit {
    display: none;
}

.popUpBox {
    background-color: white;
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
}

#valueNow input {
    width: 400px;
    height: 40px;
    padding: 10px 20px;
}

.popUpBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 20px;
}

.popUpBtn button {
    height: 30px;
    width: 100px;
}

.cancelBtn {
    background-color: rgb(12, 12, 12);
    color: white;
}


.okBtn {
    background-color: #ddd;
    color: black;
}

.cancleBtn:hover,
.okBtn:hover {
    background-color: rgb(245, 0, 0);
    color: white;
    font-size: 15px;
    transition: 0.4s;
    cursor: pointer;
}